.logo{
    color:#fff;
    text-align: center;
    line-height: 4em;
}
:global{
    .anticon-left,.anticon-right{
        // line-height: 48px;

    }
    .ant-breadcrumb{
        margin-left:16px;
    }


}